<div class="alumni-table">
    <table>
        <tbody>
            <tr>
                <td>Term Date</td><td>Name</td><td>Picture</td>
            </tr>
            {{#rows}}
            <tr data-name="{{name}}">
                <td>{{{date}}}</td><td>{{{nameLink}}}</td><td><a href="{{pic}}" target="_blank"><img src="{{pic}}" height="40"></a></td>
            </tr>
            {{/rows}}
        </tbody>
    </table>
</div>