<div class="alumni-table">
    <table>
        <tbody>
            <tr>
                <td>Term Date</td><td>Name</td>
            </tr>
            {{#rows}}
            <tr>
                <td>{{{date}}}</td><td>{{{name}}}</td>
            </tr>
            {{/rows}}
        </tbody>
    </table>
</div>